.App {
  text-align: center;
  font-family: 'Noto Serif', serif;
  color:#010e60;
}

.github-repo-info {
  border: 2px solid #ccc;
  margin:20px 30px;
  padding: 10px 15px;
}

.search-box input{
  width:175px;
  text-align: center;
  outline: none
}

.header{
  margin-bottom: 15px;
  font-size: 30px
}

.sort-body{

  margin-bottom: 20px 0px;
  outline:none;
}

.sort{
  outline:none
}
